*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f1f3f4;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:380px;
    background:white;
    padding:45px 35px;
    border-radius:12px;
    box-shadow:0 2px 12px rgba(0,0,0,0.18);
    text-align:center;
}

h2{
    font-weight:500;
    margin-bottom:8px;
}

.subtitle{
    color:#5f6368;
    font-size:14px;
    margin-bottom:30px;
}

/* Inputs */
.input-box{
    position:relative;
    margin-bottom:25px;
}

.input-box input{
    width:100%;
    padding:14px 10px;
    border:1px solid #dadce0;
    border-radius:6px;
    outline:none;
    font-size:16px;
}

.input-box input:focus{
    border:2px solid #1a73e8;
}

/* Floating label */
.input-box label{
    position:absolute;
    left:12px;
    top:50%;
    transform:translateY(-50%);
    background:white;
    padding:0 5px;
    color:#5f6368;
    font-size:14px;
    transition:0.2s;
    pointer-events:none;
}

.input-box input:focus + label,
.input-box input:valid + label{
    top:-8px;
    font-size:12px;
    color:#1a73e8;
}

/* Links */
.forgot{
    display:block;
    text-align:left;
    font-size:14px;
    color:#1a73e8;
    text-decoration:none;
    margin-top:-10px;
    margin-bottom:30px;
}

.bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.create{
    text-decoration:none;
    color:#1a73e8;
    font-size:14px;
}

button{
    background:#1a73e8;
    color:white;
    border:none;
    padding:10px 26px;
    border-radius:6px;
    font-size:14px;
    cursor:pointer;
}

button:hover{
    background:#1669c1;
}

footer{
    position:absolute;
    bottom:20px;
    font-size:13px;
    color:#5f6368;
}
